body {
    font-family: Arial;
    max-width: 600px;
    margin: auto;
    background-color: #3b65da;
    padding: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

.note {
    border: 1px solid #11873e;
    padding: 10px;
    margin-top: 10px;
}
