body {
    font-family: Arial;
    max-width: 600px;
    margin: auto;
    background-color: #b3e7ae;
    padding: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    background-color: #483939;
    color: white;
    border: none;
    border-radius: 4px;
}

.note {
    border: 1px solid #11873e;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-radius: 6px;
    background-color: #ffffff;
    margin-top: 10px;
}
